# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
MONGO_URL=URL
MONGO_USER=USERNAME
MONGO_PASSWORD=PASSWORD
MONGO_DB=DATABASE
MONGO_COLLECTION=COLLECTION
MONGO_PROTOCOL=mongodb://
client-id=client-id
client-secret=client-secret