{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Item</h2>
      <ul class="list-group mb-4">
        <li>
          Status: {{ item.status }}
        </li>
        <li>
          Title: {{ item.title }}
        </li>
      </ul>
        {% if 'writer' in current_user.roles %}
        <a href="{{url_for('edit', id=item.id)}}" id="editButton">Edit</a>
        {% endif %}
    </div>
         <a href="{{url_for('index')}}" id="homepage">Back to Homepage</a>
  </div>
{% endblock %}